@import url('https://fonts.google.com/specimen/Open+Sans');

/* No one touch. I am still trying to figure out why some of this stuff works and other's don't */

.container1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Japanese_Garden_%40_UH_Manoa_%285674163092%29.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 1080px;
  height: 720px;
  position: relative;
}

.welcome {
  background: #FFFFFF;
  width: 650px;
  height: 415px;
  position: absolute;
  right: 25%;
  top: 25%;
  border-radius: 5px;
  box-shadow: 20px 20px 50px rgba(0,0,0,.1);
}

.box {
  position: absolute;
  top: -10%;
  left: 5%;
  background: #49EEAF;
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 10px 19px 40px rgba(0, 0, 0, .1);
  z-index: 2;
}

.rightbox {
  position: absolute;
  width: 50%;
  right: -2%;
}

.myh1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 2em;
  letter-spacing: 8px;
}

.title {
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
  color: #8E9AAF;
  font-size: 2em;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}

.signup {
  margin-top: 45%;
  font-size: 10px;
}

.p {
  font-family: "Open Sans", sans-serif;
  font-size: .7em;
  letter-spacing: 2px;
  color: #8E9AAF;
  opacity: .5;
  text-align: center;
}

.logo {
  position: absolute;
  width: 150px;
  height: 120px;
  top: 50%;
  left: 30%;
}

.button2 {
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  letter-spacing: 3px;
  font-size: 11px;
  align-items: center;
  color: white;
  background-color: white;
}

Form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}

.input {
  background: #49EEAF;
  width: 65%;
  color: #359B74 ;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  padding: 9px;
  margin: 7px;
}